hydra-core==1.3.2
matminer==0.9.0
matplotlib==3.8.3
networkx==3.2.1
numpy==1.26.4
omegaconf==2.3.0
p_tqdm==1.4.0
pandas==1.5.3
plotly==5.19.0
pymatgen==2023.12.18
pytest==8.0.1
python-dotenv==1.0.1
pytorch_lightning==2.2.0.post0
scikit_learn==1.4.0
scipy==1.12.0
setuptools==69.0.3
SMACT==2.5.5
sympy==1.12
torch==2.0.0
torch_geometric==2.3.1
torch_scatter==2.0.9
torch_sparse==0.6.18+pt20cu117
tqdm==4.66.2
